/* line 3, ../sass/jcarousel.scss */
#tabs {
  position: relative;
}

/* line 8, ../sass/jcarousel.scss */
.carousel {
  background: transpareny;
  border: 0px solid #fff;
  float: left;
  clear: both;
  padding: 0px;
  margin: 0 0 20px;
}

/* line 19, ../sass/jcarousel.scss */
.jcarousel-item h4 {
  margin: 6px 20px;
  font-weight: 300;
  max-height: 2.5em;
  overflow: hidden;
  float: left;
}
/* line 19, ../sass/jcarousel.scss */
.jcarousel-item h4 a {
  color: #ffed00;
}
/* line 20, ../sass/jcarousel.scss */
.jcarousel-item p {
  margin: 20px;
  margin-top: 0px;
  font-family: oswald;
  font-weight: 300;
}
/* line 21, ../sass/jcarousel.scss */
.jcarousel-item .read_more {
  margin-right: 20px;
  float: right;
}

/* boutons */
/* line 25, ../sass/jcarousel.scss */
.jcarousel-prev-horizontal, #bouton-prev {
  text-indent: -30000px;
  top: 8em;
  height: 28px;
  width: 17px;
  display: block;
  position: absolute;
  background: url('images/slideshow/small_left.png?1355934568');
  left: -10px;
}
@media screen and (max-width: 1279px) {
  /* line 25, ../sass/jcarousel.scss */
  .jcarousel-prev-horizontal, #bouton-prev {
    left: 10px;
    background: url('images/slideshow/small_left.png?1355934568');
  }
}

/* line 40, ../sass/jcarousel.scss */
.jcarousel-next-horizontal, #bouton-next {
  text-indent: -30000px;
  top: 8em;
  height: 28px;
  width: 17px;
  display: block;
  position: absolute;
  background: url('images/slideshow/small_right.png?1355934568');
  right: -10px;
}
@media screen and (max-width: 1279px) {
  /* line 40, ../sass/jcarousel.scss */
  .jcarousel-next-horizontal, #bouton-next {
    right: 10px;
    background: url('images/slideshow/small_right.png?1355934568');
  }
}
