.none 
{display:none;
visibility:hidden;
}
/*-----------------modules------------*/
#news_monitoring {
float:left;
min-height:280px;
margin-left:0;

padding:0 40px 0 40px;
width:851px;
}

#news_monitoring  div#last_news{
float:left;width:250px;
}

#news_monitoring  div#all_news{
float:left;
margin-top:10px;
text-align:left;
width:250px;
margin-left:30px;
}

#news_monitoring  div#all_news a,div#all_news a:visited,div#all_news a:link{
background-image:url("img/plus.png");
background-position:center left;
background-repeat:no-repeat;
display:block;
float:left;
padding-left:20px;
color:#fff;

}

#news_monitoring #content_CMS {
clear:both;
}
.read_more {
display:block;
clear:both;
float:right;
margin:10px;

}

.news_history{ 
width:250px;
font-size:4px;
display:block;

}

.news_history a ,.news_history a:link ,.news_history a:visited {
display:block;
clear:both;
font-size:10px;
font-family:verdana;
color:#fff;
background-repeat: no-repeat;
background-position:4px 7px;
padding-left:20px;
width:auto;
padding-top:3px;
padding-bottom:3px;
text-align:left;
margin-top:10px;
}

.news_history a:hover{
text-decoration:none;
color:#fd0081;
}


}
.news_bouton{
	font-size: 10px;
	font-family: verdana;
	font-weight: bold;
	color: #797F83;
}

#rssLink {
float:left;
}
#annexes a {
float:right;display:block;}
a.addthis_button {
display:block;
float:right;
}

a.print_button {
display:block;
float:right;margin-left:10px;
}

 #rssLink a {
text-indent:-3000px;
background-image:url(img/rss_pill_blue_32.png);
height:32px;
width:32px;
display:block;
margin-top:3px;
background-position:-0px 0px;
}
#header #annexes #rssLink a {
text-indent:-3000px;
background-image:url(img/rss_pill_blue_32.png);
height:32px;
width:32px;
display:block;
margin-top:3px;
background-position:0px -8px;
background-repeat:no-repeat;
}
#header #annexes #rssLink {
float:right;margin-right:10px;
}
#header #annexes #rssLink span{
display:none;
}
/****************News_history***************/

.nh {
line-height:125%;
	font-size: 13px;
	color: #cdcdcd;
	list-style-type:none;
	margin:0;
	padding:0;
	padding-top:10px;
	width:100%
}

.nh_item {
	margin:0;
	padding:0;
	width:415px;
	float:left;
}
	
.nh_itemImg {
width:130px;
float:left;
margin-right:12px;
}
.nh_itemImg a img {border:3px solid #102233}
.nh_itemImg a:hover img {border:3px solid #fff}

.nh .row2 {
margin-left:20px;
}


.nh_itemTitle {
	padding-top:10px;
	font-size: 10px;
	font-family: arial,helvetica,verdana;
	font-size:15px;
	font-weight:regular;
	color:#c8e9f7;
text-shadow: 2px 2px #111;
-webkit-text-shadow: 2px 2px #111;
-moz-text-shadow: 2px 2px #111;
filter: progid:DXImageTransform.Microsoft.dropShadow(color=#000000, offX=2, offY=2, positive=true);
}

.nh_itemTitle a,.nh_itemTitle a:link,.nh_itemTitle a:visited{
	color:#c8e9f7;
	font-weight:bold;
	}

.nh_itemAccr {
}

.nh_itemDate{
	font-size: 10px;
font-weight:normal;
color:#96cee6;
padding-bottom:8px;
border-bottom:1px dotted #0b324e;

margin-bottom:8px;
}

.nh_itemSpacer  {
clear:both;
display:block;
float:left;
margin:5px;
width:100%;
}

/*****entry detail******/
.paginator {
 display: block;
    float: left;
    font-weight: bold;
    margin: 10px;
    text-align: right;
    width: 100%;

}
.paginator .index {
display:block;
float:left;
text-align:left;
}

.current strong {
color:#079CC6;
}

.entry {
border-bottom:1px solid #0F2E41;
padding-bottom:10px;padding-top:10px;
clear:both;
float:left;
}

.entryPost a,.entryPost a:visited,.entryPost a strong 
{
}

.entryContent p,.entryPost p
{text-align:justify;
}

.entryTitle {
margin-bottom:0px;
}

#bigcontent2left p.entryMeta {
	font-size: 11px;
font-weight:bold;
color:#fff;
padding-bottom:8px;
margin-top:0px;
margin-bottom:8px;
float:left;
}

#bigcontent2left div.entry  p.entryMeta {
width:100%;
clear:both;
float:left;
}

.entryImg {
margin-bottom:12px;
float:left;
margin-right:12px;
}
.entrySimilar a,
.entrySimilar a:link,
.entrySimilar a:visited {

}


.entrySimilar a:hover {
color:#fff;
}
.entryLast a,
.entryLast a:link,
.entryLast a:visited {

}


.entryRelated a:hover {
color:#fff;
}
.entryRelated a,
.entryRelated a:link,
.entryRelated a:visited {

}



.entryLast a:hover {
color:#fff;
}


.tags ul,.entryRelated ul,.entryLast ul,.entrySimilar ul {
margin:0px;
padding:0px;
list-style-type:none;

}

.tags li,.entryRelated li,.entryLast li,.entrySimilar li{
margin:0px;
padding:0px;
padding-bottom:5px;
list-style-type:none;

}

.tags li a,.tags li a:link,.tags li a:visited{
color:#079CC6;

}
.tags li a:hover{
color:#FFF;

}
.entryCategoriesList ul {
margin:0px;
padding:0px;
list-style-type:none;

}

.entryCategoriesList li{
margin:0px;
padding:0px;
list-style-type:none;

}
.entryCategoriesList li a,.entryCategoriesList li a:link,.entryCategoriesList li a:visited
{
font-size:11px;
font-weight:bold;
letter-spacing:0.1em;
line-height:180%;
text-align:right;
text-decoration:none;
text-transform:uppercase;
color:#999999;
}

.entryCategoriesList li a:hover
{
color:#fff;
}
.entriesNumber {
clear:both;
color:#96CEE6;
float:right;
font-size:10px;
font-weight:normal;
margin-bottom:8px;
margin-top:0;
padding-bottom:8px;
width:100%;

}
.entryRelated {
margin-top:0px;
}

.entryTag a ,.entryTag a:hover ,.entryTag a:link {
text-decoration:underline;
}

.entriesNumber {
display:none;
}


#comments {
background-color:#052F44;
padding:10px 30px;
}

#comments input, #comments textarea{
background:none repeat scroll 0 0 #BCBCBC;
border:1px solid #222;
}

#comments input:hover, #comments textarea:hover,#comments input:focus, #comments textarea:focus{
background:none repeat scroll 0 0 #fff;
border:1px solid #000;
}


#comments p{
text-align:center;
display:block;
overflow:hidden;
}

#comments label{

}
#comments textarea#id_comment {width:100%;}
#comments input[type=text]{width:60%;float:right;margin:1px 0px;}


#bigcontent2left .entry {width:100%;}


/********Studios **********/

.StudioList ul {
margin:0px;
padding:0px;
list-style-type:none;

}

.StudioList li{
margin:0px;
padding:0px;
list-style-type:none;

}

.StudioList li a ,.StudioList li a:link,.StudioList li a:visited{
text-transform:uppercase;
font-size:11px;
color:#ccc;
font-weight:bold;
}

.StudioList li.active a ,.StudioList li.active a:link,.StudioList li.active a:visited{
text-transform:uppercase;
font-size:11px;
color:#079cc6;
font-weight:bold;
}

.StudioList li.active li a ,.StudioList li.active li a:link,.StudioList li.active li a:visited{
text-transform:uppercase;
font-size:11px;
color:#079cc6;
font-weight:normal;
}
.StudioList li.active li.active a ,.StudioList li.active li.active a:link,.StudioList li.active li.active a:visited{
text-transform:uppercase;
font-size:11px;
color:#fff;
font-weight:normal;
}



.StudioList li a :hover{
text-transform:uppercase;
font-size:11px;
color:#079cc6;
}

#contacts li ,#contacts ul{
margin:0px;
padding:0px;
list-style-type:none;
margin-top:10px;

}



/*******stages*********/
.fiche .row {
font-weight:bold;
margin-bottom:0px;
font-size:12px;
width:50%;float:left;
border-top:1px solid #333;

}
.fiche #superficie , .fiche #length {
height:50px;
}

.fiche .row label{
padding:10px;padding-right:0px;
}

.fiche .row span{
padding:10px;padding-right:0px;display:block;	float:none;

}

.row label{
font-size:100%;
}
.row label:first-letter{
text-transform:uppercase;
}

.high {
font-weight:bold;
color:#A8E5FF;
}
.cyclorama {
color:#FFBADD;	
}
/******true flase*********/

.typeFalse {
text-indent:-3000px;
background-image:url(/css/images/false.png);
background-position:center center;
background-repeat:no-repeat;
}
.typeTrue {
text-indent:-3000px;
background-image:url(/css/images/true.png);
background-position:center center;
background-repeat:no-repeat;;

}