
$logo:"logo_emg.png";//YourLogo 
$background_image:"background.jpg";//Background-image
$background_image_alt:"bg_interne.jpg";//Background-image
$logo_small:"logo/logo_small.png";//YourLogo 
$background:#FFF;//purple
$alternateColor:#de562d;
$colorText:#202221;
$link-color:#de562d ;//purple
$white:rgb(255,255,255);
$bfoot:#030303;//blackFoot	
$dfoot:#1E1E1E;//DarkerBrown
$menu_color:#858180;//Menuorange
$menu_hover:#e6e6e6;//Menustate

$base-font-size:14px;
$base-line-height: 22px ;
$relative-font-sizing : false;


 $blue: rgba(#009ee0, 1);
 $red: rgba(#e2007a, 1);
 $yellow: rgba(#ffe300, 1);