/* line 12, ../sass/styles.scss */
.print-only {
  display: none;
}

/* line 15, ../sass/styles.scss */
::selection {
  color: inherit;
  background-color: #333;
}

/* line 19, ../sass/styles.scss */
::-moz-selection {
  color: inherit;
  background-color: #333;
}

/* line 23, ../sass/styles.scss */
body {
  min-width: auto;
  background-position: top center;
}

/* line 28, ../sass/styles.scss */
body.Home {
  background: url('images/background.jpg?1370352017');
  background-position: top center;
  background-repeat: no-repeat;
  background-color: #000;
}

/* line 35, ../sass/styles.scss */
.homeAppel section {
  margin: 20px;
}
/* line 37, ../sass/styles.scss */
.homeAppel section h2 {
  font-size: 28px;
  text-shadow: 0 3px 3px black;
}

/* line 43, ../sass/styles.scss */
body.col2_left {
  background: url('images/bg_interne.jpg?1370352017');
  background-position: top -70px;
  background-repeat: no-repeat;
  background-color: #000;
}

/* line 51, ../sass/styles.scss */
#header {
  text-align: center;
}

@media only screen and (max-width: 784px) {
  /* line 56, ../sass/styles.scss */
  .header {
    text-align: center;
  }
}

/* line 63, ../sass/styles.scss */
.logo {
  text-indent: -119988px;
  overflow: hidden;
  text-align: left;
  background-image: url('images/logo_emg.png?1370352018');
  background-repeat: no-repeat;
  background-position: 50% 50%;
  width: 174px;
  height: 135px;
  display: inline-block;
}

/* line 69, ../sass/styles.scss */
.top-bar .navigation {
  margin-top: 61px;
}
/* line 71, ../sass/styles.scss */
.top-bar .navigation li.divider {
  display: none;
}
/* line 74, ../sass/styles.scss */
.top-bar .navigation .niv1 > a {
  font-family: "Open Sans";
  font-size: 20px;
  font-weight: 400;
  text-transform: none;
  float: left;
}
@media only screen and (max-width: 972px) and (min-width: 785px) {
  /* line 74, ../sass/styles.scss */
  .top-bar .navigation .niv1 > a {
    font-size: 14px;
    padding-right: 29px;
  }
}
@media only screen and (max-width: 784px) {
  /* line 74, ../sass/styles.scss */
  .top-bar .navigation .niv1 > a {
    font-size: 14px;
  }
}

@media only screen and (max-width: 784px) {
  /* line 89, ../sass/styles.scss */
  .row .markeeRow {
    position: fixed;
    top: 0px;
    background-color: #000;
    width: 100%;
    z-index: 90;
  }
}
/* line 97, ../sass/styles.scss */
.row .markeeRow .markee {
  font-size: 0.7em;
  font-family: 'Open Sans', sans-serif;
  text-transform: uppercase;
  padding: 8px 0;
  background: url('images/rainbow_gradient.png?1370352018');
  background-repeat: no-repeat;
  background-position: bottom center;
}
/* line 108, ../sass/styles.scss */
.row .markeeRow .markeeMess {
  position: relative;
  background: url('images/rainbow_gradient.png?1370352018');
  background-repeat: no-repeat;
  background-position: bottom center;
}
/* line 117, ../sass/styles.scss */
.row .markee {
  font-size: 0.7em;
  font-family: 'Open Sans', sans-serif;
  text-transform: uppercase;
  padding: 8px 0;
  background: url('images/rainbow_gradient.png?1370352018');
  background-repeat: no-repeat;
  background-position: bottom center;
}

@media only screen and (max-width: 784px) {
  /* line 130, ../sass/styles.scss */
  .header {
    position: relative;
    background-color: #000;
  }
}

/* line 137, ../sass/styles.scss */
#radial-gradient {
  background-image: -webkit-gradient(radial, 45px 45px, 0, 45px 45px, 30, color-stop(33.33333%, #00ffff), color-stop(100%, #1e90ff));
  background-image: -webkit-radial-gradient(45px 45px, #00ffff 10px, #1e90ff 30px);
  background-image: -moz-radial-gradient(45px 45px, #00ffff 10px, #1e90ff 30px);
  background-image: -o-radial-gradient(45px 45px, #00ffff 10px, #1e90ff 30px);
  background-image: radial-gradient(45px 45px, #00ffff 10px, #1e90ff 30px);
}

/* line 140, ../sass/styles.scss */
#works_container {
  margin: 0 auto 0px;
}

/* line 143, ../sass/styles.scss */
#total_footer {
  background: #1e1e1e;
}

/* line 147, ../sass/styles.scss */
#total_footer {
  background: #1e1e1e;
  height: 125px;
  position: fixed;
  width: 100%;
  bottom: 0;
}

/* line 155, ../sass/styles.scss */
#total_footer_nav {
  text-align: center;
  background: #030303;
  height: 74px;
  position: relative;
  width: 100%;
  bottom: 0;
}

/* line 164, ../sass/styles.scss */
.marke {
  font-size: 16px;
  text-align: center;
  padding-top: 3px;
  padding-bottom: 2px;
  text-transform: uppercase;
  background-color: #1e1e1e;
  letter-spacing: 1px;
}
/* line 172, ../sass/styles.scss */
.marke a {
  color: white;
}

/*icon logos */
/* line 178, ../sass/styles.scss */
.logos {
  background: url('images/rainbow_gradient.png?1370352018');
  background-color: #000;
  background-repeat: no-repeat;
  background-position: top center;
  text-align: center;
}
/* line 185, ../sass/styles.scss */
.logos span {
  display: inline-block;
  float: left;
  margin-right: 20px;
}
/* line 189, ../sass/styles.scss */
.logos span.last {
  margin-right: 0;
}

/* line 98, logos_foot/*.png */
.logos_foot-sprite, .logos_foot-acs_foot, .logos_foot-ctv_foot, .logos_foot-dvs_foot, .logos_foot-emg_foot, .logos_foot-nobeo_foot, .logos_foot-troiszero, .logos_foot-united_foot, .logos_foot-videohouse_foot {
  background: url('images/logos_foot-s28dd0822c9.png') no-repeat;
}

/* line 60, C:/Users/surcouf/compassv1.2/compass.app/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.logos_foot-acs_foot {
  background-position: 0 -69px;
  height: 69px;
  width: 69px;
}

/* line 60, C:/Users/surcouf/compassv1.2/compass.app/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.logos_foot-ctv_foot {
  background-position: 0 -414px;
  height: 69px;
  width: 101px;
}

/* line 60, C:/Users/surcouf/compassv1.2/compass.app/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.logos_foot-dvs_foot {
  background-position: 0 0;
  height: 69px;
  width: 118px;
}

/* line 60, C:/Users/surcouf/compassv1.2/compass.app/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.logos_foot-emg_foot {
  background-position: 0 -138px;
  height: 69px;
  width: 126px;
}

/* line 60, C:/Users/surcouf/compassv1.2/compass.app/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.logos_foot-nobeo_foot {
  background-position: 0 -276px;
  height: 69px;
  width: 126px;
}

/* line 60, C:/Users/surcouf/compassv1.2/compass.app/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.logos_foot-troiszero {
  background-position: 0 -483px;
  height: 69px;
  width: 97px;
}

/* line 60, C:/Users/surcouf/compassv1.2/compass.app/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.logos_foot-united_foot {
  background-position: 0 -345px;
  height: 69px;
  width: 66px;
}

/* line 60, C:/Users/surcouf/compassv1.2/compass.app/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.logos_foot-videohouse_foot {
  background-position: 0 -207px;
  height: 69px;
  width: 119px;
}

/* line 138, icon/*.png */
.icon-sprite, .icon-circledot, .icon-circledot_off, .icon-contact, .icon-download, .icon-facebook, .icon-next, .icon-oblik, .icon-oblik18, .icon-prev, .icon-print, .icon-twitter {
  background: url('images/icon-sa157202199.png') no-repeat;
}

/* line 60, C:/Users/surcouf/compassv1.2/compass.app/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icon-circledot {
  background-position: 0 -294px;
  height: 16px;
  width: 16px;
}

/* line 60, C:/Users/surcouf/compassv1.2/compass.app/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icon-circledot_off {
  background-position: 0 -361px;
  height: 16px;
  width: 16px;
}

/* line 60, C:/Users/surcouf/compassv1.2/compass.app/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icon-contact {
  background-position: 0 -220px;
  height: 28px;
  width: 28px;
}

/* line 60, C:/Users/surcouf/compassv1.2/compass.app/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icon-download {
  background-position: 0 -377px;
  height: 24px;
  width: 24px;
}

/* line 60, C:/Users/surcouf/compassv1.2/compass.app/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icon-facebook {
  background-position: 0 -401px;
  height: 20px;
  width: 20px;
}
/* line 43, C:/Users/surcouf/compassv1.2/compass.app/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icon-facebook:hover, .icon-facebook.facebook_hover, .icon-facebook.facebook-hover {
  background-position: 0 -421px;
}

/* line 60, C:/Users/surcouf/compassv1.2/compass.app/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icon-next {
  background-position: 0 0;
  height: 110px;
  width: 64px;
}

/* line 60, C:/Users/surcouf/compassv1.2/compass.app/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icon-oblik {
  background-position: 0 -350px;
  height: 11px;
  width: 16px;
}

/* line 60, C:/Users/surcouf/compassv1.2/compass.app/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icon-oblik18 {
  background-position: 0 -276px;
  height: 18px;
  width: 34px;
}

/* line 60, C:/Users/surcouf/compassv1.2/compass.app/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icon-prev {
  background-position: 0 -110px;
  height: 110px;
  width: 64px;
}

/* line 60, C:/Users/surcouf/compassv1.2/compass.app/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icon-print {
  background-position: 0 -248px;
  height: 28px;
  width: 28px;
}

/* line 60, C:/Users/surcouf/compassv1.2/compass.app/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icon-twitter {
  background-position: 0 -310px;
  height: 20px;
  width: 20px;
}
/* line 43, C:/Users/surcouf/compassv1.2/compass.app/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icon-twitter:hover, .icon-twitter.twitter_hover, .icon-twitter.twitter-hover {
  background-position: 0 -330px;
}

/* line 200, ../sass/styles.scss */
.icon-sprite, .icon-circledot, .icon-circledot_off, .icon-contact, .icon-download, .icon-facebook, .icon-next, .icon-oblik, .icon-oblik18, .icon-prev, .icon-print, .icon-twitter {
  margin-right: 30px;
  margin-top: 30px;
  display: inline-block;
  text-indent: -3000px;
}
/* line 205, ../sass/styles.scss */
.icon-sprite span, .icon-circledot span, .icon-circledot_off span, .icon-contact span, .icon-download span, .icon-facebook span, .icon-next span, .icon-oblik span, .icon-oblik18 span, .icon-prev span, .icon-print span, .icon-twitter span {
  display: none;
}

/* line 209, ../sass/styles.scss */
.icon-download {
  display: inline-block;
  text-indent: -3000px;
}

/* line 214, ../sass/styles.scss */
.download {
  font-size: 16px;
  border-bottom: 1px solid #2b3033;
  display: inline-block;
}
/* line 218, ../sass/styles.scss */
.download span {
  display: inline-block;
  padding: 0 3px 3px 0;
}

/* line 225, ../sass/styles.scss */
.item_info .download {
  border: 1px solid #666;
  padding-right: 6px;
  background-color: #000;
  color: #fff;
}

/*Nav sidebar*/
/* line 233, ../sass/styles.scss */
#sidebar h4 {
  background: url("images/icon/oblik18.png?1358513963");
  background-repeat: no-repeat;
  background-position: 0 0px;
  padding-left: 34px;
}

/* line 240, ../sass/styles.scss */
#sidebar .download {
  font-size: 14px;
  padding: 3px 0;
}

/* line 245, ../sass/styles.scss */
#sidebar .download span {
  float: left;
  width: 80%;
  margin: 5%;
}

/* line 251, ../sass/styles.scss */
#sidebar .download span.icon-sprite, #sidebar .download span.icon-circledot, #sidebar .download span.icon-circledot_off, #sidebar .download span.icon-contact, #sidebar .download span.icon-download, #sidebar .download span.icon-facebook, #sidebar .download span.icon-next, #sidebar .download span.icon-oblik, #sidebar .download span.icon-oblik18, #sidebar .download span.icon-prev, #sidebar .download span.icon-print, #sidebar .download span.icon-twitter, #sidebar .download span.icon-circledot, #sidebar .download span.icon-circledot_off, #sidebar .download span.icon-contact, #sidebar .download span.icon-download, #sidebar .download span.icon-facebook, #sidebar .download span.icon-next, #sidebar .download span.rsArrowRight, #sidebar .download span.icon-oblik, #sidebar .download span.icon-oblik18, #sidebar .download span.icon-prev, #sidebar .download span.rsArrowLeft, #sidebar .download span.icon-print, #sidebar .download span.icon-twitter {
  width: 10%;
  margin: 0%;
}

/* line 256, ../sass/styles.scss */
#sidebar .download span.filesize {
  font-size: 12px;
}

@media only screen and (max-width: 784px) {
  /* line 262, ../sass/styles.scss */
  #sidebar {
    display: none;
  }
}
/*Nav footer*/
/* line 272, ../sass/styles.scss */
.nav_foot {
  background: url('images/rainbow_gradient.png?1370352018');
  background-color: #000;
  background-repeat: no-repeat;
  background-position: top center;
  margin-bottom: 12px;
  margin-top: 6px;
  padding-bottom: 12px;
  padding-top: 12px;
}

/* line 283, ../sass/styles.scss */
.inline {
  margin: 0;
  padding: 0;
  border: 0;
  overflow: hidden;
  *zoom: 1;
}
/* line 284, ../sass/styles.scss */
.inline li {
  font-family: myriad,myriad web, arial,helvetica;
  font-size: 11px;
}
/* line 287, ../sass/styles.scss */
.inline li h5 {
  font-weight: normal;
}
/* line 49, C:/Users/surcouf/compassv1.2/compass.app/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/lists/_inline-block-list.scss */
.inline li {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  white-space: nowrap;
  padding-left: 10px;
  padding-right: 10px;
}

/* line 295, ../sass/styles.scss */
.inlineclear {
  margin: 0;
  padding: 0;
  border: 0;
  overflow: hidden;
  *zoom: 1;
}
/* line 296, ../sass/styles.scss */
.inlineclear li {
  font-family: myriad,myriad web, arial,helvetica;
  font-size: 11px;
  clear: left;
  margin-left: 0px;
}
/* line 301, ../sass/styles.scss */
.inlineclear li .lang {
  margin-right: 5px;
  text-transform: uppercase;
}
/* line 304, ../sass/styles.scss */
.inlineclear li a {
  color: #eee;
}
/* line 49, C:/Users/surcouf/compassv1.2/compass.app/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/lists/_inline-block-list.scss */
.inlineclear li {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  white-space: nowrap;
  padding-left: 24px;
  padding-right: 24px;
}

/* line 312, ../sass/styles.scss */
.rainbowpanel {
  font-family: oswald;
  font-weight: 300;
  -webkit-box-shadow: 0 0 40px black;
  -moz-box-shadow: 0 0 40px black;
  box-shadow: 0 0 40px black;
  background: url('images/rainbow_gradient.png?1370352018');
  border: none 0px #fff;
  background-repeat: repeat-x;
  background-position: top center;
  margin-bottom: 0px;
}
/* line 325, ../sass/styles.scss */
.rainbowpanel.panel {
  background: url('images/rainbow_gradient.png?1370352018'), -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(0, 0, 0, 0.5)), color-stop(100%, #000000));
  background: url('images/rainbow_gradient.png?1370352018'), -webkit-linear-gradient(top, rgba(0, 0, 0, 0.5), #000000);
  background: url('images/rainbow_gradient.png?1370352018'), -moz-linear-gradient(top, rgba(0, 0, 0, 0.5), #000000);
  background: url('images/rainbow_gradient.png?1370352018'), -o-linear-gradient(top, rgba(0, 0, 0, 0.5), #000000);
  background: url('images/rainbow_gradient.png?1370352018'), linear-gradient(top, rgba(0, 0, 0, 0.5), #000000);
  background-repeat: repeat-x;
}
/* line 326, ../sass/styles.scss */
.rainbowpanel.panel p {
  font-family: 'open sans',Helvetica,Arial;
  font-weight: 500;
  font-size: 14px;
}
/* line 335, ../sass/styles.scss */
.rainbowpanel.row {
  background-color: transparent;
  background-repeat: repeat-x;
}

/* line 344, ../sass/styles.scss */
.redfont, .redfont a {
  color: #e2007a;
}

/* line 347, ../sass/styles.scss */
.bluefont, .bluefont a {
  color: #009ee0;
}

/* line 350, ../sass/styles.scss */
.yellowfont, .yellowfont a {
  color: #ffe300;
}

/* line 353, ../sass/styles.scss */
.panel .rss_link, .rss_link {
  background-color: #ea7206;
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
  padding: 4px;
  font-size: 12px;
  letter-spacing: 2px;
  font-family: oswald;
  display: block;
  margin: 14px;
}

/* line 366, ../sass/styles.scss */
.panel .all_news, .all_news {
  background-color: #000;
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
  padding: 4px;
  font-size: 12px;
  letter-spacing: 2px;
  font-family: oswald;
  display: block;
  margin: 14px;
}

/* line 379, ../sass/styles.scss */
#newsMonit {
  padding-right: 40px;
}
/* line 381, ../sass/styles.scss */
#newsMonit #newsMonit .right {
  padding: 14px 4px;
}

/* line 390, ../sass/styles.scss */
.royalSlide > img {
  -webkit-box-shadow: 0px 4px 8px black;
  -moz-box-shadow: 0px 4px 8px black;
  box-shadow: 0px 4px 8px black;
}
/* line 393, ../sass/styles.scss */
.royalSlide h1 {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 36px;
  text-shadow: black 0 0 12px;
}
@media screen and (max-width: 784px) {
  /* line 393, ../sass/styles.scss */
  .royalSlide h1 {
    font-size: 2em !important;
  }
}
/* line 404, ../sass/styles.scss */
.royalSlide .sgMidText {
  font-family: 'open sans',sans sherif;
  font-style: italic;
  color: #fff;
  text-shadow: black 0 0 4px;
}
@media screen and (max-width: 480px) {
  /* line 404, ../sass/styles.scss */
  .royalSlide .sgMidText {
    display: none;
  }
}
@media screen and (max-width: 480px) {
  /* line 413, ../sass/styles.scss */
  .royalSlide .sgSmallText {
    position: absolute;
    right: 0px !important;
    left: 80% !important;
    top: 140px !important;
  }
}

/* line 425, ../sass/styles.scss */
.languagesquare {
  margin-top: 16px;
}
/* line 427, ../sass/styles.scss */
.languagesquare a {
  display: block;
  float: right;
}
/* line 431, ../sass/styles.scss */
.languagesquare .square {
  display: block;
  height: 19px;
  width: 19px;
  float: right;
}
/* line 437, ../sass/styles.scss */
.languagesquare li {
  padding: 0px;
  float: right;
  margin-bottom: 9px;
}
/* line 442, ../sass/styles.scss */
.languagesquare .lang {
  float: left;
  margin-right: 3px;
}
/* line 447, ../sass/styles.scss */
.languagesquare .blue .square {
  background-color: #009ee0;
}
/* line 450, ../sass/styles.scss */
.languagesquare .yellow .square {
  background-color: #ffe300;
}
/* line 453, ../sass/styles.scss */
.languagesquare .red .square {
  background-color: #e2007a;
}

/* line 457, ../sass/styles.scss */
.languagesquare {
  /* Small screens */
}
@media only screen and (max-width: 784px) {
  /* line 457, ../sass/styles.scss */
  .languagesquare {
    display: none;
  }
}

/************container *******/
/* line 467, ../sass/styles.scss */
#container {
  position: relative;
}

/* line 472, ../sass/styles.scss */
.col2_left #bannercontent {
  position: relative;
  background: url('images/rainbow_gradient.png?1370352018');
  background-position: top center;
  background-repeat: repeat-x;
  -webkit-box-shadow: 0, 4px, 8px, rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0, 4px, 8px, rgba(0, 0, 0, 0.5);
  box-shadow: 0, 4px, 8px, rgba(0, 0, 0, 0.5);
  padding-top: 1px;
}
/* line 480, ../sass/styles.scss */
.col2_left #bannercontent.text {
  padding: 32px;
  background-color: #000;
  border-bottom: 1px solid #1E2144;
}
/* line 485, ../sass/styles.scss */
.col2_left #bannercontent img {
  float: left;
}

/************container *******/
/* line 492, ../sass/styles.scss */
#content_CMS {
  position: relative;
  width: 80%;
  margin: 10%;
  margin-top: 4%;
}

/* line 448, ../sass/styles.scss */
/* line 504, ../sass/styles.scss */
a.virtualTour, a.virtualTour:link, a.virtualTour:hover {
  background: url("images/go3d.png?1366709984");
  background-position: -2px -4px;
  height: 32px;
  width: auto;
  display: block;
  float: left;
  background-repeat: no-repeat;
  padding-left: 32px;
  line-height: 32px !important;
}

/* line 461, ../sass/styles.scss */
/* line 517, ../sass/styles.scss */
.columns .colcms {
  width: 96%;
  height: 100%;
  float: right;
}

/* line 467, ../sass/styles.scss */
/* line 523, ../sass/styles.scss */
.columns .colcms h4 {
  float: left;
  width: 100%;
}

/* line 472, ../sass/styles.scss */
/* line 528, ../sass/styles.scss */
.columns .colcms .plugin_picture {
  display: block;
  float: left;
  max-width: 100%;
  width: 100%;
}

/* line 479, ../sass/styles.scss */
/* line 535, ../sass/styles.scss */
.columns .colcms p {
  font-size: 12px;
  padding: 0 6px;
  margin-bottom: 6px;
  float: left;
  clear: both;
}

/* line 483, ../sass/styles.scss */
/* line 543, ../sass/styles.scss */
.columns .colcms ul, .columns .colcms li {
  font-size: 12px;
  padding: 0 0px;
  margin-bottom: 0px;
  margin-left: 4px;
  float: left;
  clear: both;
}

/* line 488, ../sass/styles.scss */
/* line 552, ../sass/styles.scss */
.columns .colcms ul {
  margin-bottom: 2px;
}

/* line 491, ../sass/styles.scss */
/* line 556, ../sass/styles.scss */
.columns .colcms p, .columns .colcms h4, .columns .colcms h5 {
  padding: 0 6px;
  pading-bottom: 0;
}

/* line 493, ../sass/styles.scss */
/* line 562, ../sass/styles.scss */
.colcmsbottom {
  margin-top: 24px;
}

/* line 495, ../sass/styles.scss */
/* line 566, ../sass/styles.scss */
.colcmsbottom .panel {
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(6, 7, 16, 0.2)), color-stop(100%, rgba(12, 14, 32, 0.9)));
  background: -webkit-linear-gradient(top, rgba(6, 7, 16, 0.2), rgba(12, 14, 32, 0.9));
  background: -moz-linear-gradient(top, rgba(6, 7, 16, 0.2), rgba(12, 14, 32, 0.9));
  background: -o-linear-gradient(top, rgba(6, 7, 16, 0.2), rgba(12, 14, 32, 0.9));
  background: linear-gradient(top, rgba(6, 7, 16, 0.2), rgba(12, 14, 32, 0.9));
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  -ms-border-radius: 1px;
  -o-border-radius: 1px;
  border-radius: 1px;
  border: 1px solid rgba(12, 14, 32, 0.9);
}

/* line 505, ../sass/styles.scss */
/* line 581, ../sass/styles.scss */
#truck_search_widget dl.tabs {
  border-bottom: 1px solid #1E2144;
  margin-bottom: 0;
}

/* line 507, ../sass/styles.scss */
/* line 586, ../sass/styles.scss */
#truck_search_widget dl.tabs dd, #truck_search_widget dl.tabs dl.tabs li {
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 511, ../sass/styles.scss */
/* line 593, ../sass/styles.scss */
#truck_search_widget dl.tabs dd a, #truck_search_widget dl.tabs dl.tabs li a {
  color: #fff;
}

/* line 512, ../sass/styles.scss */
/* line 597, ../sass/styles.scss */
#truck_search_widget dl.tabs dd.active, #truck_search_widget dl.tabs dl.tabs li.active {
  background: none repeat scroll 0 0 #5B7EB9;
  color: white;
  border: 0px none #fff;
  margin-top: 0px;
}

/* line 517, ../sass/styles.scss */
/* line 604, ../sass/styles.scss */
#truck_search_widget dl.tabs dd.active a, #truck_search_widget dl.tabs dl.tabs li.active a {
  background: none repeat scroll 0 0 transparent;
  color: white;
  border: 0px none #fff;
}

/* line 531, ../sass/styles.scss */
/* line 610, ../sass/styles.scss */
#truck_search_widget dl.tabs.menuTrucks {
  border-bottom: 0px none;
  background: #5B7EB9;
  float: left;
}

/* line 540, ../sass/styles.scss */
/* line 616, ../sass/styles.scss */
#truck_search_widget #category_list dl.tabs dd a, #truck_search_widget #category_list dl.tabs dl.tabs li a {
  color: #000;
}

/* line 541, ../sass/styles.scss */
/* line 620, ../sass/styles.scss */
#truck_search_widget #category_list dl.tabs dd.active a, #truck_search_widget #category_list dl.tabs dl.tabs li.active a {
  color: #ffffff;
}

/* line 549, ../sass/styles.scss */
/* line 625, ../sass/styles.scss */
#truckMonit {
  border-bottom: 1px solid #444A4F;
  border-top: 1px solid #444A4F;
  display: block;
  float: left;
  width: 100%;
}

/* line 556, ../sass/styles.scss */
/* line 633, ../sass/styles.scss */
#truckMonit li.ui-state-active {
  text-decoration: underline;
}

/************effects *******/
/* line 565, ../sass/styles.scss */
/* line 639, ../sass/styles.scss */
.columns .circle {
  height: 50px;
  width: 50px;
  text-align: center;
  overflow: hidden;
  border: 2px solid #FFFFFF;
  -webkit-border-radius: 500px;
  -moz-border-radius: 500px;
  -ms-border-radius: 500px;
  -o-border-radius: 500px;
  border-radius: 500px;
  font-size: 24px;
  line-height: 44px;
  float: left;
}

/* line 575, ../sass/styles.scss */
/* line 655, ../sass/styles.scss */
.columns .circle + h4 {
  float: left;
  width: auto;
  line-height: 130%;
}

/************Nav_left *******/
/* line 663, ../sass/styles.scss */
#sidebar {
  position: relative;
  left: 0;
  top: -10em;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(1, 10, 20, 0.9)), color-stop(80%, rgba(1, 12, 30, 0.9)), color-stop(100%, rgba(0, 0, 0, 0)));
  background: -webkit-linear-gradient(top, rgba(1, 10, 20, 0.9), rgba(1, 12, 30, 0.9) 80%, rgba(0, 0, 0, 0) 100%);
  background: -moz-linear-gradient(top, rgba(1, 10, 20, 0.9), rgba(1, 12, 30, 0.9) 80%, rgba(0, 0, 0, 0) 100%);
  background: -o-linear-gradient(top, rgba(1, 10, 20, 0.9), rgba(1, 12, 30, 0.9) 80%, rgba(0, 0, 0, 0) 100%);
  background: linear-gradient(top, rgba(1, 10, 20, 0.9), rgba(1, 12, 30, 0.9) 80%, rgba(0, 0, 0, 0) 100%);
}

/* line 671, ../sass/styles.scss */
#sidebar ul.navNiv0_left {
  font-family: "Oswald",Helvetica,Arial,sans-serif;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  border-radius: 8px;
  font-size: 12px;
  margin: 0px;
  margin-right: 0px;
  margin-top: 36px;
  padding-left: 0px;
  padding-left: 0px;
  float: left;
  display: block;
  padding-bottom: 6em;
  width: 80%;
  margin: 10%;
}
/* line 673, ../sass/styles.scss */
#sidebar ul.navNiv0_left * {
  font-weight: 300;
}
/* line 688, ../sass/styles.scss */
#sidebar ul.navNiv0_left ul {
  float: left;
  clear: both;
}
/* line 693, ../sass/styles.scss */
#sidebar ul.navNiv0_left .locate {
  margin-bottom: 16px;
  margin-top: 16px;
  display: none;
}
/* line 697, ../sass/styles.scss */
#sidebar ul.navNiv0_left .locate span {
  display: block;
  line-height: 40px;
}
/* line 701, ../sass/styles.scss */
#sidebar ul.navNiv0_left .locate ul {
  margin: 0px;
  padding: 0px;
}
/* line 703, ../sass/styles.scss */
#sidebar ul.navNiv0_left .locate ul li {
  margin: 0px;
  padding: 0px;
  line-height: 16px;
  font-size: 24px;
  display: none;
}
/* line 708, ../sass/styles.scss */
#sidebar ul.navNiv0_left .locate ul li.ancestor {
  line-height: 20px;
  display: block;
}
/* line 716, ../sass/styles.scss */
#sidebar ul.navNiv0_left li {
  float: left;
  margin-left: 0px;
  display: block;
  padding-left: 8px;
  clear: both;
  margin-bottom: 0px;
  width: 96%;
}
/* line 724, ../sass/styles.scss */
#sidebar ul.navNiv0_left li.niv2 {
  border-bottom: 1px solid #222a2f;
  font-weight: 400;
  list-style-type: none;
  padding-top: 0px;
  background-image: url() no-repeat top left;
  line-height: 24px;
}
/* line 728, ../sass/styles.scss */
#sidebar ul.navNiv0_left li.niv2 a {
  margin-top: 6px;
  text-transform: uppercase;
}
/* line 731, ../sass/styles.scss */
#sidebar ul.navNiv0_left li.niv2.selected, #sidebar ul.navNiv0_left li.niv2.ancestor {
  background: transparent;
}
/* line 733, ../sass/styles.scss */
#sidebar ul.navNiv0_left li.niv2.selected a, #sidebar ul.navNiv0_left li.niv2.ancestor a {
  margin-top: 6px;
  text-transform: uppercase;
  color: #009ee0;
}
/* line 738, ../sass/styles.scss */
#sidebar ul.navNiv0_left li.niv2 li.niv3 {
  display: none;
  background: transparent none;
}
/* line 741, ../sass/styles.scss */
#sidebar ul.navNiv0_left li.niv2 li.niv3 a {
  text-transform: none;
  padding-left: 4px;
  color: #999;
}
/* line 753, ../sass/styles.scss */
#sidebar ul.navNiv0_left li.niv2 ul {
  margin: 0px;
  width: 100%;
}
/* line 756, ../sass/styles.scss */
#sidebar ul.navNiv0_left li.niv2 ul li {
  padding: 0px;
}
/* line 759, ../sass/styles.scss */
#sidebar ul.navNiv0_left li.niv2 a {
  color: #787878;
  text-decoration: none;
  display: block;
  float: left;
  font-size: 18px;
  line-height: 30px;
  padding-bottom: 0px;
}
/* line 772, ../sass/styles.scss */
#sidebar ul.navNiv0_left li.ancestor li a {
  color: #B0B0B0;
}
/* line 775, ../sass/styles.scss */
#sidebar ul.navNiv0_left li.ancestor li.selected a {
  color: #990066;
}
/* line 778, ../sass/styles.scss */
#sidebar ul.navNiv0_left li.selected li.niv3 {
  display: block;
}
/* line 780, ../sass/styles.scss */
#sidebar ul.navNiv0_left li.selected li.niv3 a {
  color: #aaa;
}

/*Buttons addon*/
/* line 791, ../sass/styles.scss */
.button {
  font-weight: bold;
}
/* line 793, ../sass/styles.scss */
.button.small {
  font-weight: normal;
  text-transform: uppercase;
  line-height: 16px;
}

/*Zinnia*/
/* line 798, ../sass/styles.scss */
.entry-body {
  float: left;
  display: block;
}

/* line 802, ../sass/styles.scss */
.margin {
  margin: 4px 8px 4px 0;
}

/* line 806, ../sass/styles.scss */
#container {
  background-color: #02070a;
  padding-bottom: 3em;
}
/* line 810, ../sass/styles.scss */
#container .end p {
  color: #DDE5F1;
  font-size: 16px;
  line-height: 20px;
}

/* line 822, ../sass/styles.scss */
#annexes h1 {
  font-family: "Oswald",Helvetica,Arial,sans-serif;
  font-size: 48px;
  text-transform: none;
  font-weight: 300;
}

/* line 827, ../sass/styles.scss */
.linkList {
  margin: 0;
  padding: 0;
  border: 0;
  overflow: hidden;
  *zoom: 1;
  border-top: 1px solid #222A2F;
}
/* line 49, C:/Users/surcouf/compassv1.2/compass.app/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/lists/_inline-block-list.scss */
.linkList li {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  white-space: nowrap;
  padding-left: 0px;
  padding-right: 0px;
}
/* line 832, ../sass/styles.scss */
.linkList li {
  border-bottom: 1px solid #222A2F;
  padding-top: 4px;
  padding-bottom: 3px;
  font-size: 13px;
  line-height: 14px;
  white-space: normal;
}
/* line 839, ../sass/styles.scss */
.linkList li a {
  color: #5b7eb9;
}

/* line 847, ../sass/styles.scss */
.top-bar {
  background: transparent;
  /* Very large screens */
  /* Medium screens */
  /* Small screens */
  /* Very Small screens */
  /* Landscape Orientation */
  /* Portrait Orientation */
}
@media only screen and (max-width: 784px) {
  /* line 847, ../sass/styles.scss */
  .top-bar {
    position: relative;
    z-index: 90;
    top: 30px;
  }
  /* line 865, ../sass/styles.scss */
  .top-bar .navigation {
    margin-top: 0px;
    background: #000;
  }
}
@media only screen and (max-width: 480px) {
  /* line 847, ../sass/styles.scss */
  .top-bar {
    position: relative;
    z-index: 90;
    top: 46px;
  }
  /* line 877, ../sass/styles.scss */
  .top-bar .navigation {
    margin-top: 0px;
    background: #000;
  }
}

/* line 896, ../sass/styles.scss */
/* line 898, ../sass/styles.scss */
#ricontent {
  box-sizing: border-box;
}

/* line 898, ../sass/styles.scss */
/* line 902, ../sass/styles.scss */
#ricontent > div {
  margin: 3px;
  box-sizing: border-box;
}

/* line 900, ../sass/styles.scss */
/* line 907, ../sass/styles.scss */
#ricontent .panel {
  width: 92%;
}

/* line 903, ../sass/styles.scss */
/* line 912, ../sass/styles.scss */
#col-right {
  color: #cdd1d7;
}

/* line 908, ../sass/styles.scss */
/* line 917, ../sass/styles.scss */
.panel h1, .panel h2, .panel h3, .panel h4 {
  font-family: 'oswald';
}

/* line 914, ../sass/styles.scss */
/* line 923, ../sass/styles.scss */
.studioList {
  display: none;
  height: 0;
  overflow: hidden;
  position: absolute;
}

/* line 919, ../sass/styles.scss */
/* line 930, ../sass/styles.scss */
.studioList p ul li {
  font-size: 1px;
  display: none;
}

/* line 923, ../sass/styles.scss */
/* line 936, ../sass/styles.scss */
.logo_studio img {
  margin: 0.5em;
}

/* line 927, ../sass/styles.scss */
/* line 941, ../sass/styles.scss */
#fiche .panel {
  float: left;
}

/* line 931, ../sass/styles.scss */
/* line 946, ../sass/styles.scss */
body.studios #banner {
  background-color: #121212;
}

/* line 934, ../sass/styles.scss */
/* line 951, ../sass/styles.scss */
.select_stage {
  float: right;
  width: 33%;
  position: relative;
  padding: 12px;
}

/* line 946, ../sass/styles.scss */
/* line 959, ../sass/styles.scss */
#tabpanelInfo {
  color: #000;
  font-weight: bold;
  padding-top: 12px;
  margin-right: 12px;
  height: 80px;
  font-family: oswald;
}

/* line 955, ../sass/styles.scss */
/* line 968, ../sass/styles.scss */
#tabpanelInfo a, #tabpanelInfo a:link, #tabpanelInfo a:vitited {
  color: #000;
}

/* line 959, ../sass/styles.scss */
/* line 973, ../sass/styles.scss */
#tabpanelInfo a:hover {
  color: #000;
}

/**pagination **/
/* line 963, ../sass/styles.scss */
/* line 979, ../sass/styles.scss */
.paginator {
  font-family: oswald;
}

/* line 966, ../sass/styles.scss */
/* line 983, ../sass/styles.scss */
.paginator .pagination {
  float: right;
}

/* line 970, ../sass/styles.scss */
/* line 987, ../sass/styles.scss */
.paginator .index {
  display: block;
  float: left;
  line-height: 32px;
}

/* line 976, ../sass/styles.scss */
/* line 993, ../sass/styles.scss */
.paginator li > * {
  line-height: 32px;
}

/*ui-map */
/* line 984, ../sass/styles.scss */
/* line 999, ../sass/styles.scss */
#mapLinks {
  margin-top: 25px;
}

/* line 986, ../sass/styles.scss */
/* line 1003, ../sass/styles.scss */
#mapLinks div.country {
  display: block;
  float: left;
  padding-top: 3px;
}

/* line 987, ../sass/styles.scss */
/* line 1009, ../sass/styles.scss */
#mapLinks a {
  font-family: 'Oswald';
  font-size: 0.9em;
  display: block;
  width: auto;
  float: left;
  padding: 4px;
  box-sizing: border-sizing;
  cursor: pointer;
  text-transform: uppercase;
}

/* line 994, ../sass/styles.scss */
/* line 1021, ../sass/styles.scss */
#mapLinks a:link, #mapLinks a:visited {
  color: #efefef;
}

/* line 1000, ../sass/styles.scss */
/* line 1026, ../sass/styles.scss */
#tab_markerUrl {
  border-top: 1px solid #ccc;
  margin-top: 4px;
}

/* line 1002, ../sass/styles.scss */
/* line 1031, ../sass/styles.scss */
#tab_markerUrl a {
  border: #5B7EB9 1px solid;
  display: inline-block;
  padding: 4px;
  margin: 4px 0 4px 0;
  font-size: 1.2em;
}

/* line 1004, ../sass/styles.scss */
/* line 1039, ../sass/styles.scss */
#tab_markerUrl a:hover {
  background-color: #000;
  color: white;
}

/*ui-tabs */
/* line 1014, ../sass/styles.scss */
/* line 1046, ../sass/styles.scss */
.ui-tabs-active a:link, .ui-tabs-active a:visited {
  color: #efefef;
}

/* line 1017, ../sass/styles.scss */
/* line 1050, ../sass/styles.scss */
.ui-tabs-active a:hover {
  color: white;
}

/* ui slideshow */
/* line 1026, ../sass/styles.scss */
/* line 1056, ../sass/styles.scss */
.icon-next, .rsArrowRight, .icon-prev, .rsArrowLeft {
  height: 110px;
  width: 30px;
  position: absolute;
  top: 120px;
}

/* line 1033, ../sass/styles.scss */
/* line 1064, ../sass/styles.scss */
.rsArrowLeft {
  left: -32px;
}

/* line 1038, ../sass/styles.scss */
/* line 1069, ../sass/styles.scss */
.rsArrowRight {
  right: -32px;
  background-position: -34px 0;
}

@media screen and (max-width: 1024px) {
  /* line 1047, ../sass/styles.scss */
  /* line 1076, ../sass/styles.scss */
  .rsArrowLeft {
    left: 20px;
  }

  /* line 1051, ../sass/styles.scss */
  /* line 1081, ../sass/styles.scss */
  .rsArrowRight {
    right: 20px;
  }
}
/**** schema *****/
/* line 1057, ../sass/styles.scss */
/* line 1087, ../sass/styles.scss */
.actionFirst {
  background: url("images/arrwo-bottom.png?1364474192");
  background-position: 90% center;
  background-repeat: no-repeat;
  margin-left: 36px;
}

/* line 1062, ../sass/styles.scss */
/* line 1094, ../sass/styles.scss */
.actionFirst h1 {
  display: inline;
  font-family: open sans;
  font-size: 52px;
  font-weight: 300;
  position: absolute;
  text-transform: uppercase;
  top: 80%;
  left: 0px;
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform: rotate(-90deg);
  -webkit-transform-origin: 0 32px;
  -moz-transform-origin: 0 32px;
  -ms-transform-origin: 0 32px;
  -o-transform-origin: 0 32px;
  transform-origin: 0 32px;
}

/* line 1075, ../sass/styles.scss */
/* line 1115, ../sass/styles.scss */
.actionFirst h2 {
  color: #afa210;
  margin: 0;
  padding: 0.2em;
  font-size: 2.5em;
  border-bottom: 1px solid #000;
}

/* line 1084, ../sass/styles.scss */
/* line 1124, ../sass/styles.scss */
.actionList {
  margin-left: 44px;
  margin-top: 20px;
}

/* line 1089, ../sass/styles.scss */
/* line 1130, ../sass/styles.scss */
.actionList, ul.actionList li {
  font-family: "open san",Helvetica,Arial,sans-serif;
  font-weight: 300;
}

/* line 1094, ../sass/styles.scss */
/* line 1136, ../sass/styles.scss */
.actionFirst.active {
  background: url("images/arrwo-bottom-active.png?1364474192");
  background-position: 90% center;
  background-repeat: no-repeat;
  color: #fff;
  font-family: "open san",Helvetica,Arial,sans-serif;
  font-weight: 300;
}

/* line 1098, ../sass/styles.scss */
/* line 1145, ../sass/styles.scss */
.actionFirst.active h2 {
  color: #FCEA00;
  font-size: 2.5em;
  border-bottom: 1px solid #fff;
}
